In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

## Abrimos el año con el que vamos a trabajar

In [2]:
basep = 'C:\\edu\\Investigación\\Replicación\\datos\\1994-2001\\PME 2001\\2001\\2001\\2001 algoritmo hogares.csv'
b2001p = pd.read_csv(basep)
b2001p.head()

,v0002,v0003,uf,v0101,v102,v103,v0104,v0105,v0106,v0107,v0108,v0109,v0110,v0111,v0112,v0113,v2001,v2002,mes,ano
0,29001,1,29,17,29000017,1,1,1,1,268,3,5,4,2.0,2.0,3.0,7,1,1,2001
1,29001,1,29,36,29000017,2,1,1,1,268,3,2,1,1.0,2.0,3.0,7,1,1,2001
2,29001,1,29,54,29000017,3,1,1,1,243,3,9,9,2.0,2.0,1.0,7,1,1,2001
3,29001,1,29,73,29000017,4,1,1,1,268,3,3,2,2.0,2.0,3.0,7,1,1,2001
4,29001,1,29,92,29000017,5,1,1,1,243,3,4,4,1.0,2.0,1.0,7,1,1,2001

abrimos la tabla con el deflactor

In [3]:
inf = 'C:\\edu\\Investigación\\Replicación\\datos\\final\\inf.csv'
infb = pd.read_csv(inf)
infb.head()

   Unnamed: 0   inf   ano        b100      defl
0           0  1.86  1994  100.000000  1.000000
1           1  1.53  1994  101.530000  1.015300
2           2  2.62  1994  104.190086  1.041901
3           3  2.81  1994  107.117827  1.071178
4           4  1.71  1994  108.949542  1.089495

## Describimos los datos para asegurarnos que estén bien

In [4]:
b2001p.describe
b2001p.dtypes

v0002      int64
v0003      int64
uf         int64
v0101      int64
v102       int64
v103       int64
v0104      int64
v0105      int64
v0106      int64
v0107      int64
v0108      int64
v0109      int64
v0110      int64
v0111    float64
v0112    float64
v0113    float64
v2001      int64
v2002      int64
mes        int64
ano        int64
dtype: object

## Nos quedamos con las columnas que vamos a usar

- uf: Región de la encuesta \
- ano: año\
- mes: mes\
- v102: número de control, identifica el área de la encuesta\
- v103: Número de serie, equivale a un número de domicilio específico por área\
    (juntos v102 y v103 permiten construir un índice de hogares, considerando un hogar único encuestado cada mes en cada área)\
- v202: sexo\
- v204: Condición de la familia\
    1. CHEFE\
    2. CÔNJUGE\
    3. FILHO\
    4. OUTRO PARENTE
    5. AGREGADO
    6. PENSIONISTA
    7. EMPREGADO DOMÉSTICO
    8. PARENTE DO EMPREGADO DOMÉSTICO
- v210: grado
    0. UNCA FREQÜENTOU
    1. ELEMENTAR
    2. MÉDIO 1o CICLO 
    3. 1o  GRAU
    4. MÉDIO 2o  CICLO
    5. 2o  GRAU
    6. SUPERIOR
    7. MESTRADO OU DOUTORADO
    9. IGNORADO
v236: mes de nacimiento
v246: año de nacimiento
v306: Posición en su ocupación
  2 - EMPREGADO
  4 - CONTA PRÓPRIA
  6 - EMPREGADOR
  8 - NÃO REMUNERADO
  9 - IGNORADO
v309: Rendimiento efectivamente recibido en el mes obtenido de su trabajo principal
v339: Tasa de rendimiento en dinero de su trabajo principal con base en el salario mínimo vigente del mes de abril de 1004
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais   
v311: Rendimiento efectivamente recibido al mes de sus otros trabajos
v341: Tasa de rendimiento en dinero de sus otros trabajos con base en el salario mínimo vigente del mes de abril de 1004
   06 - SEM RENDIMENTO
   07 - SOMENTE EM BENEFÍCIO
   09 - IGNORADO
   10 - até  ½ SALÁRIO MÍNIMO
   11 - mais de ½ SM a 1 SM
   12 - mais de 1 SM a 2 SM
   13 - mais de 2 SM a 4 SM
   14 - mais de 4 SM a  6 SM
   15 - mais de 6 SM a 8 SM
   16 - mais de 8 SM a 10 SM
   17 - mais de 10 SM a 12 SM
   18 - mais de 12 SM a 14 SM
   19 - mais de 14 SM a 16 SM
   20 - mais de 16 SM a 18 SM
   21 - mais de 18 SM a 20 SM
   22 - mais de 20 SM a 25 SM
   23 - mais de 25 SM a 30 SM
   24 - mais de 30 SM a 35 SM
   25 - mais de 35 SM a 40 SM
   26 - mais de 40 SM a 50 SM
   27 - mais de 50 SM a 60 SM  
   28 - mais de 60 SM a 70 SM
   29 - mais de 70 SM a 80 SM
   30 - 80 SM ou mais 
v0109: Total de moradores en el hogar
v0110: Total de moradores con 10 años o más
peso: Peso para expansión que debe ser dividido para 1000 para poder ser usado

In [7]:
b2001p

,v0002,v0003,uf,v0101,v102,v103,v0104,v0105,v0106,v0107,v0108,v0109,v0110,v0111,v0112,v0113,v2001,v2002,mes,ano
0,29001,1,29,17,29000017,1,1,1,1,268,3,5,4,2.0,2.0,3.0,7,1,1,2001
1,29001,1,29,36,29000017,2,1,1,1,268,3,2,1,1.0,2.0,3.0,7,1,1,2001
2,29001,1,29,54,29000017,3,1,1,1,243,3,9,9,2.0,2.0,1.0,7,1,1,2001
3,29001,1,29,73,29000017,4,1,1,1,268,3,3,2,2.0,2.0,3.0,7,1,1,2001
4,29001,1,29,92,29000017,5,1,1,1,243,3,4,4,1.0,2.0,1.0,7,1,1,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542338,35053,1,35,491,35607190,1,1,12,3,240,3,3,2,2.0,2.0,3.0,23,12,12,2001
542339,35032,1,35,24,35607785,1,1,12,2,295,3,5,3,2.0,2.0,3.0,16,12,12,2001
542340,35012,1,35,152,35608161,1,1,12,1,248,3,4,3,1.0,2.0,3.0,9,12,12,2001
542341,35032,1,35,24,35608781,1,5,12,2,267,3,0,0,NaN,NaN,NaN,16,12,12,2001
542342,35012,1,35,44,35609125,1,1,12,1,282,3,4,4,2.0,2.0,3.0,9,12,12,2001

In [5]:
#Nos quedamos con los datos que necesitamos
b2001pf = b2001p[['uf', 'ano', 'mes', 'v102', 'v103','v204', 'v210', 'v236', 'v246', 'v306', 'v309', 'v339', 'v311', 'v341', 'v0109', 'v0110']]
b2001pf.head()

KeyError: "['v202', 'v204', 'v210', 'v236', 'v246', 'v306', 'v309', 'v339', 'v311', 'v341'] not in index"

In [ ]:
b2001pf.describe

In [ ]:
b2001pf.info()

## Corregimos los valores NA llenando con ceros

In [ ]:
b2001pf['v306'] = b2001pf['v306'].fillna(0)
b2001pf['v309'] = b2001pf['v309'].fillna(0)
b2001pf['v339'] = b2001pf['v339'].fillna(0)
b2001pf['v341'] = b2001pf['v341'].fillna(0)
b2001pf['v311'] = b2001pf['v311'].fillna(0)
b2001pf.info()

## Calculamos el ingreso bruto por persona
### ingr_b es la suma del ingreso del trabajo principal y el ingreso de los trabajos no principales

In [ ]:
b2001pf['ingr_b'] = b2001pf['v309'] + b2001pf['v311']
b2001pf

In [ ]:
b2001pf['ingr_b']

## Deflactamos el ingreso

La información de la inflación mensual basada en el ipc de Brasil se tomó de la página web https://www.inflation.eu/es/tasas-de-inflacion/brasil/inflacion-historica/ipc-inflacion-brasil-1004.aspx

In [ ]:
b2001pf['defl'] = 0

In [ ]:
def2001 = infb.loc[infb['ano']==2001]
def2001['index'] = np.arange(1,13)
def2001 = def2001.set_index('index')
def2001

In [ ]:
for x in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
    print('mes', x)
    fl = b2001pf.loc[b2001pf['mes']==x]
    fl['defl'] = def2001['defl'][x]
    b2001pf['defl'].loc[b2001pf['mes']==x] = fl['defl']
    del(fl)

In [ ]:
b2001pf['ingr_r'] = b2001pf['ingr_b']/b2001pf['defl']
b2001pf

## Intento de crear un índice para hogares y una variable ingreso hogares

Los intentos de crear un indice para hogares y de calcular el ingreso de cada hogar como la suma de los perceptores de ingresos individuales es posible, pero es demasiado largo y requiere mayor capacidad de cómputo, con 1534 áreas cada una con un promedio de 40 hogares y por doce meses son aproximadamente 736320 iteraciones por año.

Este procedimiento para cada uno de los 20 años, asumiendo que el número de hogares se mantenga igual sería un total de 14 726 400 iteraciones, asumiendo que mi computador sea capáz de realizar 20 iteraciones por segundo el trabajo se completaría en 8.52 días donde la computadora tendría que estar funcionando las 24 horas del día sin descanso.

Desconozco si existe otra base u otros cálculos de la PME donde tengamos el ingreso por hogares como la suma de los ingresos de las personas encuestadas mes a mes o si el autor calculó de esta o de alguna otra forma el ingreso de los hogares.

Ya que al final el autor después de calcular el ingreso de los hogares lo divide para cada uno de los miembros, intentaré aproximar la fórmula del autor directamente para cada persona, de esta manera tendremos un resultado parecido.

Queda el código necesario para calcular el ingreso de los hogares.

In [ ]:
#b2001pf['ingr_h'] = 0
#b2001pf

In [ ]:
#for x in b2001pf['mes'].unique():
#   for y in b2001pf['v102'].unique():
#       for z in b2001pf['v103'].unique():
#          print('mes', x, 'Área', y, 'Hogar', z)
#           ig = b2001pf.loc[(b2001pf['mes']==x) & (b2001pf['v102']==y) & (b2001pf['v103']==z)]
#           ig['h'] = ig['ingr_b'].sum()
#           b2001pf['ingr_h'].loc[(b2001pf['mes']==x) & (b2001pf['v102']==y) & (b2001pf['v103']==z)] = ig['h']
#           del(ig)

Para calcular un índice de hogares, el siguiente código arroja todos los hogares posibles durante cada mes

In [ ]:
#for x in b1004pf['mes'].unique():
#   for y in b1004pf['v102'].unique():
#       for z in b1004pf['v103'].unique():
#           print(x,y,z)

## Calculamos la edad

In [ ]:
b2001pf['v246_b'] = 0
b2001pf

Para las edades de tres dígitos les sumamos 1000

In [ ]:
tres = b2001pf.loc[b2001pf['v246'] < 1000]
tres['v246_b'] = b2001pf.loc[b2001pf['v246']<1000]['v246']+1000
b2001pf['v246_b'].loc[b2001pf['v246']<1000] = tres['v246_b']
del(tres)
b2001pf

Para las edades que solo tienen dos dígitos, los corregimos sumando 1900

In [ ]:
cien = b2001pf.loc[b2001pf['v246'] < 100]
cien['v246_b'] = b2001pf.loc[b2001pf['v246']<100]['v246']+1900
b2001pf['v246_b'].loc[b2001pf['v246']<100] = cien['v246_b']
del(cien)
b2001pf

Calculamos la edad

In [ ]:
b2001pf['edad_c'] = 2001-b2001pf['v246_b']
b2001pf

Limpiamos de la base los datos con edades negativas

In [ ]:
b2001pf = b2001pf.loc[b2001pf['edad_c']>0]

Limpiamos también los datos con edades mayores a 100 años

In [ ]:
b2001pf = b2001pf.loc[b2001pf['edad_c']<100]

Eliminamos también aquellos datos que tienen menos de 10 años

In [ ]:
b2001pf = b2001pf.loc[b2001pf['edad_c']>10]

Eliminamos ingresos igual a 0000000000

In [ ]:
b2001pf = b2001pf.loc[b2001pf['ingr_b']!=999999999]
b2001pf

## Ingreso descontando "cargas familiares"

En lugar de aproximar el ingreso de los hogares, vamos a considerara solo los indiviuos con ingresos superiores a 0 y les vamos a descontar un valor estimado de cargas familiares y de mantener a la familia, para de esta manera mantener el impacto en el hogar, para eso vamos a calcular el mismo índice que calcula el autor pero utilizando el ingreso individual, de esta manera, el resultado ya puede considerarse ponderado en cierto sentido.

den: significa denominador y considera la fórmula del autor para aproximar un descuento del ingreso que considera el número de adultos y menores en el hogar, vamos a considerar como niños todos aquellos que la base nos dice que tienen menos de 10 años

In [ ]:
k = 0.4
s = 0.9

In [ ]:
b2001pf

In [ ]:
b2001pf['den'] = b2001pf['v0110'] + k*(b2001pf['v0109']-b2001pf['v0110'])**s
b2001pf

In [ ]:
b2001pf['ingr_t'] = b2001pf['ingr_r']/b2001pf['den']
b2001pf

---------------------------------------

In [ ]:
b2001pi = b2001pf[['uf', 'mes', 'v102', 'v103', 'v0109', 'v0110', 'ingr_b', 'defl', 'ingr_r', 'den', 'ingr_t', 'edad_c']]
b2001pi

Vamos a descartar las personas con ingresos de 0

In [ ]:
b2001pi = b2001pi.loc[b2001pi['ingr_t']>0]
b2001pi

Incluimos los umbrales de pobreza por región, para esto se utilizó los umbrales de pobreza calculados por Rocha (2003) en el libro "Pobreza no Brasil: afinal, de que se trata?: afinal, de que se trata?", https://books.google.com.ar/books?hl=es&lr=&id=06HDRhYrmRgC&oi=fnd&pg=PA7&ots=lshyb6aRik&sig=_p85bkWRJ8a03OjMBtTFIRBPQOE&redir_esc=y#v=onepage&q&f=false los mismos que usa el autor, se tomaron los de los años 2001, y se mantuvo el mismo índice a lo largo de los años ya que de igual manera los ingresos están deflactados

In [ ]:
b2001pi['um_pobr']=0
b2001pi

In [ ]:
pobr = pd.Series([00.72, 92.37, 82.11, 00.21, 119.55, 62.28], index=[26,29,31,33,35,43])
pobr

In [ ]:
for x in np.array([43,33,29,35,31,26]):
    print('Región', x)
    p = b2001pi.loc[b2001pi['uf']==x]
    p['um_pobr'] = pobr[x]
    b2001pi['um_pobr'].loc[b2001pi['uf']==x] = p['um_pobr']
    del(p)

-------------------------------------

## Calculo del índice de pobreza de Foster, Greer y Thorbecke

Para calcular un ínidce de pobreza se utiliza a Foster, Greer y Thorbecke (1004), ya que satisface algunas caracterísitcas de distribución que son positivas e igual a las enunciadas por Sen, el autor usa el mismo índice.

In [ ]:
b2001pi = b2001pi.sort_values(['mes', 'ingr_t'])
b2001pi

Creamos la variable g = um_pobr - ingr_t

In [ ]:
b2001pi['g']=b2001pi['um_pobr']-b2001pi['ingr_t']
b2001pi

Creamos la variable q que será la cantidad de personas bajo el umbral de pobreza, es decir que g > 0

In [ ]:
b2001pi['q'] = 0
b2001pi

In [ ]:
ma = b2001pi.loc[b2001pi['g']>0]
ma['q'] = 1
b2001pi['q'] = ma['q']
b2001pi

In [ ]:
b2001pi['q'] = b2001pi['q'].fillna(0)
b2001pi

qs es una Serie con la cantidad de hogares pobres (q) en cada mes

In [ ]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        qs[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['q'].sum()
del(x)
del(y)
qs

ns es una Serie con la cantidad de personas (n) en cada mes y en cada región

In [ ]:
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ns[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['mes'].count()
del(x)
del(y)
ns

sumag es una Serie con la sumatoria de g para cada uno de los hogares pobres por cada mes

In [ ]:
b2001pi['gq'] = b2001pi['g']*b2001pi['q']
b2001pi

In [ ]:
b2001pi['sumag_z'] = b2001pi['gq']/b2001pi['um_pobr']
b2001pi

In [ ]:
b2001pi['sumag_z0'] = b2001pi['q']
b2001pi['sumag_z1'] = b2001pi['sumag_z']**1
b2001pi['sumag_z2'] = b2001pi['sumag_z']**2
b2001pi

In [ ]:
sumag_z0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z0[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['sumag_z0'].sum()
del(x)
del(y)
sumag_z0

In [ ]:
sumag_z1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z1[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['sumag_z1'].sum()
del(x)
del(y)
sumag_z1

In [ ]:
sumag_z2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        sumag_z2[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['sumag_z2'].sum()
del(x)
del(y)
sumag_z2

Calculamos la medida de pobreza como parte de una clase de índices de pobreza indexados por un alpha que se interpreta como un índice de aversión a la pobreza, con la siguiente fórmula 1/(n)*sumatoria(g/um_pobr)**2 para cada mes y cada región

In [ ]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt0[x][y] = 1/(ns[x][y])*sumag_z0[x][y]
del(x)
del(y)
fgt0

In [ ]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt1[x][y] = 1/(ns[x][y])*sumag_z1[x][y]
del(x)
del(y)
fgt1

In [ ]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        fgt2[x][y] = 1/(ns[x][y])*sumag_z2[x][y]
del(x)
del(y)
fgt2

El autor menciona también los trabajos de Ravallion 1004 y 2016 pero parece ser que no los calcula

----------------------------------

## Calculo del ínidce de desigualdad de Atkinson

Vamos a calcular el índice de desigualdad de atkinson con un parámetro (épsilon) de aversión a la desigualdad y un mu que es igual a la media de los ingresos individuales, con la siguiente fórmula 1-1/mu(1/N*sumatoria(y**(1-épsilon))**(1/(1-épsilon)

Utilizaremos valores de epsilon 0.25, 0.5, 0.75 como en Amiel, Creedy y Hurn (2001)

In [ ]:
b2001pi = b2001pi[['uf', 'mes', 'ingr_b', 'ingr_r', 'den', 'ingr_t']]

In [ ]:
mu = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        mu[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
mu

In [ ]:
b2001pi['ingr_t25'] = b2001pi['ingr_t']**(1-0.25)
b2001pi['ingr_t50'] = b2001pi['ingr_t']**(1-0.5)
b2001pi['ingr_t75'] = b2001pi['ingr_t']**(1-0.75)
b2001pi

In [ ]:
suma25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma25[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['ingr_t25'].sum()
del(x)
del(y)
suma25

In [ ]:
suma50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma50[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['ingr_t50'].sum()
del(x)
del(y)
suma50

In [ ]:
suma75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        suma75[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['ingr_t75'].sum()
del(x)
del(y)
suma75

In [ ]:
a25 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a25[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma25[x][y])**(1/(1-0.25))
del(x)
del(y)
a25

In [ ]:
a50 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a50[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma50[x][y])**(1/(1-0.50))
del(x)
del(y)
a50

In [ ]:
a75 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        a75[x][y] = 1-1/mu[x][y]*(1/(ns[x][y])*suma75[x][y])**(1/(1-0.75))
del(x)
del(y)
a75

In [ ]:
a25['ano'] = 2001
a50['ano'] = 2001
a75['ano'] = 2001
fgt0['ano'] = 2001
fgt1['ano'] = 2001
fgt2['ano'] = 2001

## Calculamos el ingreso promedio por año y región

In [ ]:
ynr = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43])

In [ ]:
for x in np.array([26,29,31,33,35,43]):
    for y in np.array([1,2,3,4,5,6,7,8,9,10,11,12]):
        ynr[x][y] = b2001pi.loc[(b2001pi['uf']==x) & (b2001pi['mes']==y)]['ingr_t'].mean()
del(x)
del(y)
ynr

In [ ]:
ynr['ano'] = 2001

--------------------------------------

## Nos quedamos con los valores finales para pasar a otro año

In [ ]:
a25_01 = a25
a50_01 = a50
a75_01 = a75
fgt0_01 = fgt0
fgt1_01 = fgt1
fgt2_01 = fgt2
ynr_01 = ynr

In [ ]:
del(a25, a50, a75, fgt0, fgt1, fgt2, b2001p, b2001pf, b2001pi, ns, sumag_z0, sumag_z1, sumag_z2, qs, ma, mu, suma25, suma50, suma75, ynr, infb)

Guardamos los archivos

In [ ]:
a25_01.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2001\\a25_00.csv')
a50_01.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2001\\a50_00.csv')
a75_01.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2001\\a75_00.csv')
fgt0_01.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2001\\fgt0_00.csv')
fgt1_01.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2001\\fgt1_00.csv')
fgt2_01.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2001\\fgt2_00.csv')
ynr_01.to_csv('C:\\edu\\Investigación\\Replicación\\datos\\final\\2001\\ynr_00.csv')

In [ ]:
ynr_01