In [234]:
import pandas as pd
import numpy as np
import re

Vamos a decodificar los datos para 1995 hasta 2002, utilizando los diccionarios de DataZoom

Tenemos todo, solamente es poreciso organizarse bien, importar las bases, decodificarlas, asegurarse bien de los tipos de datos, la función es una buena idea, y luego hacer el análisis

Una vez decodificado utilizamos las variables
<ul>
<li>v102: - Número de controle</li>
<li>v103: - Número de série</li>
<li>v309: - Rendimento efetivamente recebido no mês</li>
</ul>

In [235]:
dic = pd.read_csv('dic.csv')
b_1991_2000_pes = dic.loc[dic['dct'] == 'pme_1991_2000_pes_en']

In [236]:
pme95bad = pd.read_csv('1995\PME95BAD.TXT', header=None)
pme95mgd = pd.read_csv('1995\PME95MGD.TXT', header=None)
pme95ped = pd.read_csv('1995\PME95PED.TXT', header=None)
pme95rjd = pd.read_csv('1995\PME95RJD.TXT', header=None)
pme95rsd = pd.read_csv('1995\PME95RSD.TXT', header=None)
pme95bsd = pd.read_csv('1995\PME95SPD.TXT', header=None)

In [237]:
pme95bap = pd.read_csv('1995\PME95BAP.TXT', header=None)
pme95mgp = pd.read_csv('1995\PME95MGP.TXT', header=None)
pme95pep = pd.read_csv('1995\PME95PEP.TXT', header=None)
pme95rjp = pd.read_csv('1995\PME95RJP.TXT', header=None)
pme95rsp = pd.read_csv('1995\PME95RSP.TXT', header=None)
pme95bsp = pd.read_csv('1995\PME95SPP.TXT', header=None)

In [238]:
b95 = pd.concat([pme95bap, pme95mgp, pme95pep, pme95rjp, pme95rsp, pme95bsp], ignore_index=True)

In [239]:
def convert_to_int_or_none(value):
    try:
        return int(value.strip())
    except ValueError:
        return None

In [240]:
b95['uf'] = b95[0].apply(lambda x: convert_to_int_or_none(x[0:2]))
b95['pme95'] = b95[0].apply(lambda x: x[2:6])
b95['mes'] = b95[0].apply(lambda x: convert_to_int_or_none(x[6:8]))
b95['v102'] = b95[0].apply(lambda x: x[8:16])
b95['v103'] = b95[0].apply(lambda x: x[18:20])
b95['v201'] = b95[0].apply(lambda x: x[20:22])
b95['v202'] = b95[0].apply(lambda x: x[22:23])
b95['v203'] = b95[0].apply(lambda x: x[23:24])
b95['v204'] = b95[0].apply(lambda x: x[24:25])
b95['v205'] = b95[0].apply(lambda x: x[25:26])
b95['v206'] = b95[0].apply(lambda x: x[26:28])
b95['v236'] = b95[0].apply(lambda x: x[28:30])
b95['v246'] = b95[0].apply(lambda x: x[30:33])
b95['v207'] = b95[0].apply(lambda x: x[33:34])
b95['v208'] = b95[0].apply(lambda x: x[34:35])
b95['v0109'] = b95[0].apply(lambda x: convert_to_int_or_none(x[35:36]))
b95['v0110'] = b95[0].apply(lambda x: convert_to_int_or_none(x[36:37]))
b95['v211'] = b95[0].apply(lambda x: x[37:38])
b95['v301'] = b95[0].apply(lambda x: x[38:39])
b95['v302'] = b95[0].apply(lambda x: x[39:40])
b95['v303'] = b95[0].apply(lambda x: x[40:43])
b95['v304'] = b95[0].apply(lambda x: x[43:46])
b95['v305'] = b95[0].apply(lambda x: x[46:47])
b95['v306'] = b95[0].apply(lambda x: x[47:48])
b95['v307'] = b95[0].apply(lambda x: x[48:49])
b95['v308'] = b95[0].apply(lambda x: x[49:50])
b95['v309'] = b95[0].apply(lambda x: convert_to_int_or_none(x[50:59]))
b95['v339'] = b95[0].apply(lambda x: x[59:61])
b95['v310'] = b95[0].apply(lambda x: x[61:63])
b95['v311'] = b95[0].apply(lambda x: x[63:72])
b95['v341'] = b95[0].apply(lambda x: x[72:74])
b95['v312'] = b95[0].apply(lambda x: x[74:76])
b95['v313'] = b95[0].apply(lambda x: x[76:77])
b95['v314'] = b95[0].apply(lambda x: x[77:78])
b95['v315'] = b95[0].apply(lambda x: x[78:79])
b95['v316'] = b95[0].apply(lambda x: x[79:81])
b95['v346'] = b95[0].apply(lambda x: x[81:83])
b95['v356'] = b95[0].apply(lambda x: x[83:85])
b95['v366'] = b95[0].apply(lambda x: x[85:86])
b95['v317'] = b95[0].apply(lambda x: x[86:88])
b95['v347'] = b95[0].apply(lambda x: x[88:90])
b95['v318'] = b95[0].apply(lambda x: x[90:91])
b95['v319'] = b95[0].apply(lambda x: x[91:92])
b95['v320'] = b95[0].apply(lambda x: x[92:94])
b95['v350'] = b95[0].apply(lambda x: x[94:96])
b95['v360'] = b95[0].apply(lambda x: x[96:98])
b95['v321'] = b95[0].apply(lambda x: x[98:101])
b95['v322'] = b95[0].apply(lambda x: x[101:104])
b95['v323'] = b95[0].apply(lambda x: x[104:105])
b95['v324'] = b95[0].apply(lambda x: x[105:106])
b95['v325'] = b95[0].apply(lambda x: x[106:108])
b95['v355'] = b95[0].apply(lambda x: x[108:110])
b95['v326'] = b95[0].apply(lambda x: x[110:111])
b95['v327'] = b95[0].apply(lambda x: x[111:112])
b95['v328'] = b95[0].apply(lambda x: x[112:113])
b95['v256'] = b95[0].apply(lambda x: x[113:116])
b95['peso'] = b95[0].apply(lambda x: x[116:116+9])

Eliminamos 999999999

In [241]:
b95['v309'] = np.where(b95['v309'] >= 999999, None, b95['v309'])

Podemos seguir el análisis de la misma manera que se hacía antes

In [242]:
b95['ingr_hogar'] = b95.groupby(['v102','v103'])['v309'].transform('sum')

Calculamos el número de niños como la diferencia de moradores del hogar menos moradores de menos de 10 años

In [243]:
#b95 = b95.loc[b95['v0109'] >= b95['v0110']]

In [244]:
b95['ninos'] = b95['v0109'] - b95['v0110']

In [247]:
b95

,0,uf,pme95,mes,v102,v103,v201,v202,v203,v204,...,v324,v325,v355,v326,v327,v328,v256,peso,ingr_hogar,ninos
0,29199501290017 020111110020036133131351234034...,29.0,1995,1.0,290017,01,11,1,1,0,...,,,,,0,3,6,,4288812.0,2.0
1,29199501290017 020213312701979330037 ...,29.0,1995,1.0,290017,02,13,3,1,2,...,,,,,0,1,5,,597939.0,-4.0
2,29199501290017 030111111001962133511361742054...,29.0,1995,1.0,290017,01,11,1,1,1,...,,,,,0,3,2,,4288812.0,0.0
3,29199501290017 030232210306964133336 ...,29.0,1995,1.0,290017,02,32,2,1,0,...,,,,,0,3,0,,597939.0,-3.0
4,29199501290017 030313311901984113335 ...,29.0,1995,1.0,290017,03,13,3,1,1,...,,,,,0,1,0,,281276.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084464,3519951235607785010232211010960133331381314012...,35.0,1995,12.0,35607785,02,32,2,1,1,...,,,,,0,3,5,,25013.0,2.0
1084465,3519951235607785010333313110979134336 ...,35.0,1995,12.0,35607785,03,33,3,1,3,...,,,,,0,1,6,,0,-3.0
1084466,3519951235608781010111110502964134611303312012...,35.0,1995,12.0,35608781,01,11,1,1,0,...,,,,,0,3,1,,600027.0,0.0
1084467,3519951235608781010232210209965133516 ...,35.0,1995,12.0,35608781,02,32,2,1,0,...,,,,,0,3,0,,0,-5.0
1084468,,NaN,,NaN,,,,,,,...,,,,,,,,,0,NaN

In [254]:
b95['v103'][0]

'01'

In [256]:
b95.loc[(b95['v102'] == '290017  ') & (b95['v103'] == '01')]

,0,uf,pme95,mes,v102,v103,v201,v202,v203,v204,...,v324,v325,v355,v326,v327,v328,v256,peso,ingr_hogar,ninos
0,29199501290017 020111110020036133131351234034...,29.0,1995,1.0,290017,01,11,1,1,0,...,,,,,0,3,6,,4288812.0,2.0
2,29199501290017 030111111001962133511361742054...,29.0,1995,1.0,290017,01,11,1,1,1,...,,,,,0,3,2,,4288812.0,0.0
5,29199501290017 040111113011955134213 ...,29.0,1995,1.0,290017,01,11,1,1,3,...,0,03,32,1,0,3,9,,4288812.0,-2.0
9,29199501290017 050131110103956134331305263172...,29.0,1995,1.0,290017,01,31,1,1,0,...,,,,,0,3,8,,4288812.0,2.0
11,29199501290017 060111110209954133131330101984...,29.0,1995,1.0,290017,01,11,1,1,0,...,,,,,0,4,0,,4288812.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122549,29199511290017 290111112004955133511305412012...,29.0,1995,11.0,290017,01,11,1,1,2,...,,,,,0,4,0,,4288812.0,0.0
122553,29199511290017 300111112708953132534 ...,29.0,1995,11.0,290017,01,11,1,1,2,...,,,,,0,4,2,,4288812.0,-1.0
122558,29199511290017 310131111802962133511360342252...,29.0,1995,11.0,290017,01,31,1,1,1,...,,,,,0,3,3,,4288812.0,0.0
122559,29199511290017 320111110709960133511336105112...,29.0,1995,11.0,290017,01,11,1,1,0,...,,,,,0,3,5,,4288812.0,0.0
122562,29199511290017 330111110612963132331358134032...,29.0,1995,11.0,290017,01,11,1,1,0,...,,,,,0,3,1,,4288812.0,2.0

Calculamos ingreso individual con la fórmula del autor dividiendo el ingreso del hogar para la escala $(A_{i}+kC_{i})^{s}$

In [181]:
k = 0.4
s = 0.9

In [182]:
b95['den'] = (b95['v0110'] + k * b95['ninos'])**s

In [184]:
b95['ingr'] = b95['ingr_hogar'] / b95['den']

In [185]:
b95['ingr_ind'] = b95['ingr'] / b95['v0109']

Deflactamos el ingreso

In [205]:
defl = pd.read_csv('datos finales\defl.csv')

In [206]:
def95 = defl.loc[defl['ano'] == 1995]

In [207]:
meses = range(1,13)
defl = def95['defl']
pares = zip(meses, defl)
defl = dict(pares)

In [209]:
b95['defl'] = b95['mes'].map(defl)

In [216]:
b95['ingr_defl'] = b95['ingr_ind'] / b95['defl']

### Índices

Umbrales de pobreza por región

In [217]:
pobr = {
    26: 98.72,
    29: 92.37,
    31: 82.11,
    33: 99.21,
    35: 119.55,
    43: 62.28
}

In [218]:
b95['um_pobr'] = b95['uf'].map(pobr)

Índice de Foster-Greer-Thorbecke

$FGT_{\alpha}=\frac{1}{N}\sum_{i=1}^{H}\left(\frac{z-y_{i}}{z}\right)^{\alpha}$

In [219]:
alpha = 0

In [220]:
qs = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43]) #Cantidad de personas pobres
ns = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43]) #Cantidad de personas total

In [221]:
b95['g'] = b95['um_pobr'] - b95['ingr_defl']

In [222]:
b95['q'] = b95['g'].apply(lambda x: 1 if x > 0 else 0)

In [226]:
qs.iloc[0] = b95.loc[b95['mes']== 1].groupby('uf')['q'].sum()
qs.iloc[1] = b95.loc[b95['mes']== 2].groupby('uf')['q'].sum()
qs.iloc[2] = b95.loc[b95['mes']== 3].groupby('uf')['q'].sum()
qs.iloc[3] = b95.loc[b95['mes']== 4].groupby('uf')['q'].sum()
qs.iloc[4] = b95.loc[b95['mes']== 5].groupby('uf')['q'].sum()
qs.iloc[5] = b95.loc[b95['mes']== 6].groupby('uf')['q'].sum()
qs.iloc[6] = b95.loc[b95['mes']== 7].groupby('uf')['q'].sum()
qs.iloc[7] = b95.loc[b95['mes']== 8].groupby('uf')['q'].sum()
qs.iloc[8] = b95.loc[b95['mes']== 9].groupby('uf')['q'].sum()
qs.iloc[9] = b95.loc[b95['mes']== 10].groupby('uf')['q'].sum()
qs.iloc[10] = b95.loc[b95['mes']== 11].groupby('uf')['q'].sum()
qs.iloc[11] = b95.loc[b95['mes']== 12].groupby('uf')['q'].sum()

In [227]:
qs

      26    29    31    33    35    43
1    8.0  10.0   9.0  18.0  12.0   8.0
2    2.0   8.0   3.0  10.0   6.0   5.0
3    6.0  12.0   5.0   8.0  10.0   6.0
4    3.0  10.0   4.0   6.0   6.0   3.0
5    8.0   6.0   4.0   5.0   4.0   4.0
6   15.0   9.0   6.0   3.0   4.0   6.0
7    8.0   8.0   5.0   4.0   5.0   5.0
8    5.0   4.0   1.0   6.0   3.0   3.0
9   12.0   7.0   5.0   7.0   9.0  10.0
10   8.0   5.0   8.0   5.0  13.0  11.0
11  10.0   9.0   9.0  11.0  13.0  14.0
12  63.0  99.0  45.0  91.0  98.0  73.0

In [228]:
ns.iloc[0] = b95.loc[b95['mes']== 1]['uf'].value_counts()
ns.iloc[1] = b95.loc[b95['mes']== 2]['uf'].value_counts()
ns.iloc[2] = b95.loc[b95['mes']== 3]['uf'].value_counts()
ns.iloc[3] = b95.loc[b95['mes']== 4]['uf'].value_counts()
ns.iloc[4] = b95.loc[b95['mes']== 5]['uf'].value_counts()
ns.iloc[5] = b95.loc[b95['mes']== 6]['uf'].value_counts()
ns.iloc[6] = b95.loc[b95['mes']== 7]['uf'].value_counts()
ns.iloc[7] = b95.loc[b95['mes']== 8]['uf'].value_counts()
ns.iloc[8] = b95.loc[b95['mes']== 9]['uf'].value_counts()
ns.iloc[9] = b95.loc[b95['mes']== 10]['uf'].value_counts()
ns.iloc[10] = b95.loc[b95['mes']== 11]['uf'].value_counts()
ns.iloc[11] = b95.loc[b95['mes']== 12]['uf'].value_counts()

In [229]:
ns

        26      29      31      33      35      43
1   9506.0  8429.0  8008.0  6810.0  5443.0  5002.0
2   9723.0  8461.0  8453.0  6643.0  5594.0  5274.0
3   9934.0  8614.0  8397.0  7073.0  5792.0  5549.0
4   9865.0  8709.0  8484.0  7304.0  5820.0  5373.0
5   9863.0  8824.0  8364.0  7406.0  5884.0  5491.0
6   9720.0  8756.0  8460.0  7270.0  5708.0  5446.0
7   9503.0  8469.0  8320.0  7277.0  5894.0  5352.0
8   9681.0  8850.0  8447.0  7228.0  6049.0  5496.0
9   9707.0  8703.0  8341.0  7182.0  6008.0  5509.0
10  9786.0  8739.0  8262.0  7162.0  6077.0  5616.0
11  9838.0  8797.0  8335.0  7227.0  6097.0  5587.0
12  9559.0  8374.0  8168.0  6964.0  6027.0  5178.0

FGT 0

In [230]:
fgt0 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43]) #Cantidad de personas total

In [231]:
b95['parentesis'] = ((b95['um_pobr'] - b95['ingr_defl'])/b95['um_pobr'])**alpha

In [232]:
fgt0.iloc[0] = qs.iloc[0]/ns.iloc[0]
fgt0.iloc[1] = qs.iloc[1]/ns.iloc[1]
fgt0.iloc[2] = qs.iloc[2]/ns.iloc[2]
fgt0.iloc[3] = qs.iloc[3]/ns.iloc[3]
fgt0.iloc[4] = qs.iloc[4]/ns.iloc[4]
fgt0.iloc[5] = qs.iloc[5]/ns.iloc[5]
fgt0.iloc[6] = qs.iloc[6]/ns.iloc[6]
fgt0.iloc[7] = qs.iloc[7]/ns.iloc[7]
fgt0.iloc[8] = qs.iloc[8]/ns.iloc[8]
fgt0.iloc[9] = qs.iloc[9]/ns.iloc[9]
fgt0.iloc[10] = qs.iloc[10]/ns.iloc[10]
fgt0.iloc[11] = qs.iloc[11]/ns.iloc[11]

In [233]:
fgt0

          26        29        31        33        35        43
1   0.000842  0.001186  0.001124  0.002643  0.002205  0.001599
2   0.000206  0.000946  0.000355  0.001505  0.001073  0.000948
3   0.000604  0.001393  0.000595  0.001131  0.001727  0.001081
4   0.000304  0.001148  0.000471  0.000821  0.001031  0.000558
5   0.000811  0.000680  0.000478  0.000675  0.000680  0.000728
6   0.001543  0.001028  0.000709  0.000413  0.000701  0.001102
7   0.000842  0.000945  0.000601  0.000550  0.000848  0.000934
8   0.000516  0.000452  0.000118  0.000830  0.000496  0.000546
9   0.001236  0.000804  0.000599  0.000975  0.001498  0.001815
10  0.000817  0.000572  0.000968  0.000698  0.002139  0.001959
11  0.001016  0.001023  0.001080  0.001522  0.002132  0.002506
12  0.006591  0.011822  0.005509  0.013067  0.016260  0.014098

FGT 1

In [64]:
alpha = 1

In [65]:
fgt1 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43]) #Cantidad de personas total

In [66]:
for i in range(1, 13):
    b_df = globals()[f'b95m_{i}']
    b_df['parentesis'] = ((b_df['um_pobr'] - b_df['ingr_defl'])/b_df['um_pobr'])**alpha

In [67]:
fgt1.iloc[0] = b95m_1.loc[b95m_1['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[0]
fgt1.iloc[1] = b95m_2.loc[b95m_2['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[1]
fgt1.iloc[2] = b95m_3.loc[b95m_3['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[2]
fgt1.iloc[3] = b95m_4.loc[b95m_4['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[3]
fgt1.iloc[4] = b95m_5.loc[b95m_5['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[4]
fgt1.iloc[5] = b95m_6.loc[b95m_6['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[5]
fgt1.iloc[6] = b95m_7.loc[b95m_7['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[6]
fgt1.iloc[7] = b95m_8.loc[b95m_8['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[7]
fgt1.iloc[8] = b95m_9.loc[b95m_9['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[8]
fgt1.iloc[9] = b95m_10.loc[b95m_10['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[9]
fgt1.iloc[10] = b95m_11.loc[b95m_11['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[10]
fgt1.iloc[11] = b95m_12.loc[b95m_12['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[11]

FGT 2

In [68]:
alpha = 2

In [69]:
fgt2 = pd.DataFrame([np.zeros(6)], index=[1,2,3,4,5,6,7,8,9,10,11,12], columns=[26,29,31,33,35,43]) #Cantidad de personas total

In [70]:
for i in range(1, 13):
    b_df = globals()[f'b95m_{i}']
    b_df['parentesis'] = ((b_df['um_pobr'] - b_df['ingr_defl'])/b_df['um_pobr'])**alpha

In [71]:
fgt2.iloc[0] = b95m_1.loc[b95m_1['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[0]
fgt2.iloc[1] = b95m_2.loc[b95m_2['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[1]
fgt2.iloc[2] = b95m_3.loc[b95m_3['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[2]
fgt2.iloc[3] = b95m_4.loc[b95m_4['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[3]
fgt2.iloc[4] = b95m_5.loc[b95m_5['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[4]
fgt2.iloc[5] = b95m_6.loc[b95m_6['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[5]
fgt2.iloc[6] = b95m_7.loc[b95m_7['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[6]
fgt2.iloc[7] = b95m_8.loc[b95m_8['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[7]
fgt2.iloc[8] = b95m_9.loc[b95m_9['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[8]
fgt2.iloc[9] = b95m_10.loc[b95m_10['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[9]
fgt2.iloc[10] = b95m_11.loc[b95m_11['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[10]
fgt2.iloc[11] = b95m_12.loc[b95m_12['q'] == 1].groupby('uf')['parentesis'].sum()/ns.iloc[11]

In [75]:
b95d

NameError: name 'b95d' is not defined